<div id="about-zulip" class="overlay flex new-style" tabindex="-1" role="dialog" data-overlay="about-zulip" aria-hidden="true">
    <div class="overlay-content modal-bg">
        <button type="button" class="exit" aria-label="{{ _('Close') }}"><span aria-hidden="true">&times;</span></button>
        <div class="modal-body">
            <div class="about-zulip-logo">
                <a target="_blank" rel="noopener noreferrer" href="https://zulip.com"><img src="/static/images/logo/zulip-org-logo.svg" alt="{{ _('Zulip') }}" /></a>
            </div>
            <p>
                <strong>Working24 App</strong>
                <br />
                Version {{zulip_version}}
                <i class="fa fa-copy tippy-zulip-tooltip" data-tippy-content="Copy version" data-tippy-placement="right" data-clipboard-text="{{zulip_version}}"></i>
                {% if zulip_merge_base and zulip_version != zulip_merge_base %}
                <br />
                Forked from upstream at {{zulip_merge_base}}
                <i class="fa fa-copy tippy-zulip-tooltip" data-tippy-content="Copy version" data-tippy-placement="right" data-clipboard-text="{{zulip_merge_base}}"></i>
                {% endif %}
            </p>
            <p>
                Copyright 2021 developed by Working24, Cmd Inc., built on Z**ip and contributors.
            </p>
            <p>
                Working24 develops <a target="_blank" rel="noopener noreferrer" href="https://working24.net">auto-workflow</a>,
                supporting for your work.
            </p>
        </div>
    </div>
</div>
